@import './fonts';

:root {
  --body-bg-color: #282828;

  --beige-text-color: #F1CDB3;
  --white-color: #ffffff;
  --grey-text-color: #cdcdcd;
  --btn-text-color: #292929;
  --btn-bg-hover-color: #fddcc4;
  --dark-grey-color: #545454;
  --sub-dark-title-color: #4c4c4c;
  --house-pets-bg-color: #f6f6f6;
  --italic-ext-color: #b2b2b2;


  --arial-regular: 'ArialRegular', sans-serif;
  --arial-italic: 'ArialItalic', sans-serif;
  --georgia-regular: 'Georgia', sans-serif;
  --time-new-roman-regular: 'TimesNewRoman', sans-serif;
}
